<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParseAppID</key>
	<string>ycZgMMcItidmOIWHosbSvke99V6hjDVMLaXKQadp</string>
	<key>ParseClientKey</key>
	<string>zxPYsNRq0N6vpm7VSOsYHgjQAhxFrsuxsIm7twhz</string>
</dict>
</plist>
